* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  
}

.menu {
    background-color: #1F0015;
    padding: 15px;
    margin: 0;
  }
  
  .menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
  }

  .menu li {
    padding-right: 25px;
    border: 0;
  }

  .imgLogo {
    width: 150px; 
    justify-content: center;
  }
  
 